{# Don't use our normal template -- this has to render under any circumstance! #}
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Tessier and Associates: Server Error</title>
  <style>
    body {
      font-family: sans-serif;
      font-size: 120%;
    }
    div {
      max-width: 700px;
      margin: 100px auto;
    }
  </style>
</head>
<body>

<div>
  <h1>Oliver Tessier &amp; Associates<br>Site Error</h1>

  <p class="lead"> Well, this is embarrassing. </p>

  <p>You may want to come back in a few minutes; this error may be a temporary one.</p>

  <p>Our administrators have already been sent an email detailing this problem.</p>

  <p>You can go to our <a href="/">homepage</a> or <a href="/search/">search page</a>.</p>
</div>

</body>
</html>