body {
  font-family: "Open Sans", sans-serif;
}
a:hover {
  text-decoration: none;
}
i.amp,
i.amp-white,
i.amp-black {
  color: transparent;
  background-image: url(/static/images/amp.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 20%;
}
i.amp-black {
  background-image: url(/static/images/amp.svg);
}
i.amp-white {
  background-image: url(/static/images/amp-white.svg);
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
  font-weight: 600;
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-inverse .navbar-brand {
    font-size: 14px;
  }
}
@media (max-width: 359px) {
  .navbar-inverse .navbar-brand {
    font-size: 16px;
  }
}
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > .open ul > a {
  color: #ffffff;
}
.navbar-inverse {
  background-color: #805715;
}
.navbar-nav > li > a {
  font-size: 14px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-nav > li > a {
    font-size: 13px;
  }
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #6a4811;
}
/* Footer */
#footer {
  margin-top: 5em;
  margin-bottom: 0;
  z-index: 9999;
}
#footer ul li {
  list-style: none;
}
.footer1 {
  background-color: #0e2954;
  padding: 0.25em 0 2em 0;
  font-size: 12px;
  color: #b1c4e3;
}
.footer1 h3 {
  font-size: 150%;
  font-weight: bold;
  color: #fcfdfe;
  margin: 1.5em 0 0.75em 0;
}
.footer1 p {
  font-size: 120%;
}
.footer1 .contact li {
  padding-bottom: 0.9em;
}
.footer1 .contact .fa {
  margin-right: 0.5em;
}
.footer1 .follow-me-icons a {
  font-size: 200%;
  color: #071428 !important;
}
.footer1 .follow-me-icons a:hover .fa-inverse {
  color: #ffff00;
}
.footer1 a {
  color: #d5e0f2;
}
.footer1 a:hover {
  color: #ffff00;
  border-bottom: none;
}
.footer2 {
  background: #071428;
  padding: 1em 0 1em 0;
  color: #959799;
}
.footer2 .simplenav {
  padding: 0;
}
@media (min-width: 666px) {
  .footer2 .simplenav {
    padding: 0 0 0 0.75em;
    border-left: solid 1px rgba(255, 255, 255, 0.5);
    display: inline;
  }
}
.footer2 .simplenav li {
  display: inline;
  padding: 0 0.75em;
  border-left: solid 1px rgba(255, 255, 255, 0.5);
}
.footer2 .simplenav li:first-of-type {
  padding-left: 0;
  border-left: none;
}
.footer2 .simplenav:first-of-type {
  border-left: none;
  padding: 0;
}
.footer2 .copyright {
  text-align: right;
  font-size: 90%;
}
.footer2 a {
  color: #afc4e5;
}
.footer2 a:hover {
  color: #ffff00;
  border-bottom: none;
}
#what-our-clients-say {
  margin-top: 5em;
  border-top: solid 1px rgba(128, 87, 21, 0.1);
}
@media (max-width: 359px) {
  #what-our-clients-say h2 {
    font-size: 190%;
  }
}
#quote-carousel {
  padding: 0 10px 30px 10px;
}
#quote-carousel .carousel-control {
  background: none;
  color: #aaa;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 0.5em;
}
#quote-carousel .carousel-control.left {
  left: -2em;
}
#quote-carousel .carousel-control.right {
  right: -2em !important;
}
#quote-carousel blockquote {
  border-left: none;
  margin: 0;
  text-align: center;
}
#quote-carousel blockquote small {
  margin-top: 0.6em;
}
#quote-carousel blockquote small:before {
  content: none;
}
#quote-carousel .carousel-indicators {
  bottom: 0;
}
#quote-carousel .carousel-indicators li {
  background: #ddd;
  display: inline-block;
  margin: 0 5px;
  width: 25px;
  height: 8px;
  border-radius: 0 !important;
}
#quote-carousel .carousel-indicators .active {
  background: #bbb;
}
#practiceareas h3 {
  font-size: 140%;
  color: #805715;
  text-transform: uppercase;
  letter-spacing: 0.75em;
  border: solid 1px #805715;
  border-radius: 1em;
  text-align: center;
  width: 20em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}
@media (max-width: 767px) {
  #practiceareas h3 {
    width: 13em;
    letter-spacing: 0.25em;
  }
}
#practiceareas h3 a {
  color: #805715;
}
#practiceareas .practicearea {
  font-size: 115%;
  text-align: center;
  font-weight: 200;
  margin: 1em 0 0 0;
  color: #666;
}
#practiceareas .practicearea a {
  color: #805715;
}
#practiceareas .practicearea a:hover {
  color: #de9e36;
}
#practiceareas .practicearea h4 {
  font-weight: 400;
  margin-bottom: 0.5em;
}
#practiceareas .practicearea .fa {
  display: block;
  font-size: 250%;
  margin-bottom: 0.2em;
}
#who-we-are {
  text-align: right;
  line-height: 1.6;
  padding: 2em 0 0.5em 0;
}
#who-we-are h2 {
  font-size: 200%;
  font-weight: bold;
  color: #805715;
}
#who-we-are p {
  font-size: 140%;
}
#head {
  background: #bcb9b4 url(/static/images/bg_header.jpg) no-repeat;
  border-bottom: solid 5px pink;
  background-size: cover;
  height: 500px;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5), 1px -1px 1px rgba(255, 255, 255, 0.5), -1px 1px 1px rgba(255, 255, 255, 0.5), 1px 1px 1px rgba(255, 255, 255, 0.5);
  color: #805715;
  font-weight: bold;
}
#head h2 {
  font-weight: bold;
  font-size: 175%;
}
#head #practices-carousel {
  width: 450px;
  margin-top: 325px;
  margin-left: auto;
  margin-right: 15px;
  font-size: 120%;
}
@media (min-width: 900px) {
  #head #practices-carousel {
    margin-left: auto;
    margin-right: 20px;
    font-size: 150%;
    width: 600px;
    margin-top: 325px;
  }
}
@media (min-width: 1300px) {
  #head #practices-carousel {
    margin-top: 300px;
    margin-left: auto;
    margin-right: 50px;
    font-size: 190%;
    width: 950px;
  }
}
.breadcrumb {
  background-color: #ece6db;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}
@media (max-width: 767px) {
  .breadcrumb {
    font-size: 80%;
  }
}
.breadcrumb li {
  display: inline;
}
.breadcrumb a {
  color: #805715;
}
.breadcrumb a:hover {
  color: #800080;
}
.breadcrumb > .active {
  color: #1d1912;
}
.breadcrumb > li + li::before {
  color: #5b4e3a;
}
@media (min-width: 768px) {
  .content-well {
    font-size: 20px;
    line-height: 1.8 !important;
  }
}
.content-well a {
  color: #805715;
}
.content-well a:hover {
  border-bottom: solid 1px #805715;
}
.content-well h1,
.content-well h2,
.content-well h3,
.content-well h4,
.content-well h5,
.content-well h6 {
  color: #805715;
}
.content-well h2 {
  margin-top: 1.5em;
}
.content-well h3 {
  margin-top: 1.5em;
}
.content-well p {
  margin: 0.6em 0 0.75em;
}
@media (max-width: 767px) {
  .content-well h1 {
    font-size: 200%;
    padding-top: 0;
  }
  .content-well .page-header {
    margin: 0;
  }
  .content-well h2 {
    font-size: 180%;
  }
  .content-well h3 {
    font-size: 160%;
  }
}
.lead {
  font-weight: bold;
  color: #666 !important;
}
.portlets .panel {
  border-top-left-radius: 2em;
  border-color: #805715;
}
.portlets .panel-heading {
  border-top-left-radius: 2em;
  background-color: #805715;
  color: white;
  text-transform: lowercase;
  text-align: right;
}
.portlets .list-group-item {
  border-top-color: #805715;
}
.portlets a {
  color: #805715;
}
.portlets a:hover {
  border-bottom: solid 1px #805715;
}
.portlets {
  margin-top: 5em;
}
.quote-attrib {
  text-align: right;
  margin-top: 0.5em;
  margin-left: 2em;
  color: #666;
}
.search-results {
  color: #666;
}
.search-results a {
  font-weight: bold;
}
.searchbox input,
.searchbox button {
  background-color: #54390e;
  color: white;
  border: none;
}
.searchresults-searchform {
  margin: 1em;
}
.content-well {
  min-height: 500px;
}
.carousel-inner {
  -webkit-transform-style: preserve-3d;
}
.btn.btn-primary {
  background-color: #805715;
  border-color: #120d03;
}
.image-right {
  float: right;
  padding-left: 0.85em;
  padding-bottom: 0.2em;
}
@media (max-width: 767px) {
  .image-right.main {
    float: none;
    display: block;
    padding: 1em 0;
    margin-left: auto;
    margin-right: auto;
  }
}
.barlist {
  padding: 0;
  display: inline;
  margin-left: 0;
}
.barlist li {
  display: inline;
  padding: 0 0.5em 0 0.5em;
  border-right: solid 1px #888;
  white-space: nowrap;
}
.barlist li:last-of-type {
  border-right: none;
}
.search-description p:first-of-type {
  margin-top: 0;
}
.search-description {
  line-height: 1.5;
}
p.search-metadata {
  margin: 0 0 2em 0;
  color: #666;
  font-size: 60%;
}
p.search-metadata b {
  background-color: lightyellow;
  border: solid 1px yellow;
}
.search-model-name {
  color: #888;
  font-size: 65%;
  margin-left: 0.4em;
}
p.search-title {
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 1em;
}
