{% extends 'base.html' %}

{% block breadcrumbs %}
    <li><a href="{% url 'client.list' %}">Clients</a></li>
    <li class="active">{{ client.title }}</li>
{% endblock %}

{% block content %}


    <div class="page-header">
        <h1>{{ client.title }}</h1>
    </div>
    <div class="lead">{{ client.description|safe }}</div>
    <div>{{ client.body|safe }}</div>

    {% if client.url %}
        <p><a href="{{ client.url }}" target="_blank">{{ client.url }}</a></p>
    {% endif %}

    {% for work in clientworks %}
        <h2>{{ work.title }}</h2>
        <div>{{ work.description|safe }}</div>

        {% if client.clientreference_set.all %}
            <div>
                References:
                <ul>
                    {% for ref in work.references.all %}
                        <li>
                            {{ ref.name }},
                            {{ ref.job_title }},
                            {{ ref.phone }},
                            <a href="mailto:{{ ref.email }}">{{ ref.email }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endfor %}

    {% if practiceareas %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Practice Areas</h3>
            </div>
            <ul class="list-group">
                {% for area in client.practiceareas.all %}
                    <li class="list-group-item"><a
                            href="{{ area.get_absolute_url }}">{{ area.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endblock %}