{% extends 'base.html' %}


{% block page_title %}Clients{% endblock %}

{% block breadcrumbs %}
  <li class="active">Clients</li>
{% endblock %}


{% block content %}

  <div class="page-header">
    <h1>Clients</h1>

    <p class="lead">A selection of our clients.</p>
  </div>

  {% for client in client_list %}
    <h2 style="clear: both"><a href="{{ client.get_absolute_url }}">{{ client.title }}</a></h2>
    {% if client.image %}
      <img class='image-right' src="{{ client.image_thumbnail.url }}" alt="{{ client.title }}">
    {% endif %}
    <div>{{ client.description|safe }}</div>

    {% if client.practiceareas.all %}
      <small>
        Practice Areas:
        <ul class="barlist">
          {% for area in client.practiceareas.all %}
            <li>
              <a href="{{ area.get_absolute_url }}">
                <i class="fa fa-{{ area.icon_name }}"></i>&nbsp;{{ area.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </small>
    {% endif %}

  {% endfor %}

{% endblock %}