{% extends 'base.html' %}

{% block page_title %}Clients{% endblock %}

{% block breadcrumbs %}
    <li class="active">Clients</li>
{% endblock %}

{% block content %}


    <div class="page-header">
        <h1>Clients</h1>
    </div>

    {% for client in client_list %}
        <h2><a href="{{ client.get_absolute_url }}">{{ client.title }}</a></h2>
        {% if client.image %}<img class='pull-right' src="{{ client.image_thumbnail.url }}">{% endif %}
        <div>{{ client.description|safe }}</div>

        {% if client.has_published_practiceareas or 'preview' in request.GET %}
            Practice Areas:
            <ul>
                {% for area in client.practiceareas.all %}
                    {% if area.status == 'published' or 'preview' in request.GET %}
                        <li><a href="{{ area.get_absolute_url }}">{{ area.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}

    {% endfor %}

{% endblock %}