{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block page_title %}Contact Us{% endblock %}

{% block breadcrumbs %}
  <li class="active">Contact Us</li>
{% endblock %}


{% block content %}

  <div class="page-header">
    <h1>Contact Us</h1>

    <p class="lead">We&rsquo;d love to hear from you.</p>
  </div>

  <form action="." method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">
        {% bootstrap_icon "star" %} Submit
      </button>
    {% endbuttons %}
  </form>

{% endblock %}


{% block portlets %}
  <img class="img-responsive" src="{% static 'images/mill.jpg' %}">
  <p><i>Our headquarters at Doub&rsquo;s Mill</i></p>
  <address>
    <p>
      <b>Oliver Tessier <i class="amp-black">&amp;</i> Associates</b><br>
      20512 Beaver Creek Road,<br>
      Hagerstown, Maryland 21740
    </p>
    </address>
      <p>
        <a href="tel:{{ site_config.phone_digits }}">
          <i class="fa fa-fw fa-phone"></i>
          {{ site_config.phone }}</a>
      </p>

      <p><a href="mailto:{{ site_config.email }}">
        <i class="fa fa-fw fa-envelope-o"></i> {{ site_config.email }}
      </a>
      </p>

{% endblock %}