{% extends 'base.html' %}

{% block page_title %}Library{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'librarycategory.list' %}">Library</a></li>
  <li class="active">{{ librarycategory.title }}</li>
{% endblock %}


{% block content %}

  <div class="page-header">
    <h1>{{ librarycategory.title }}</h1>

    <div class="lead">{{ librarycategory.description | safe }}</div>
  </div>

  {% for file in librarycategory.libraryfile_set.all %}
    <h2><a target="_blank" href="{{ file.get_absolute_url }}">{{ file.title }}</a></h2>
    {{ file.description|safe }}
  {% endfor %}

{% endblock %}


{% block portlets %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Library Categories</h3>
    </div>
    <ul class="list-group">
      {% for c in librarycategory_list %}
        <li class="list-group-item">
          {% if c == object %}
            <b>{{ c }}</b>
          {% else %}
            <a href="{{ c.get_absolute_url }}">{{ c }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
  {{ block.super }}
{% endblock %}