{% extends 'base.html' %}

{% block breadcrumbs %}
    <li><a href="{% url 'practicearea.list' %}">Practice Areas</a></li>
    <li class="active">{{ practicearea.title }}</li>
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>{{ practicearea.title }}</h1>
    </div>
    {{ practicearea.body|safe }}

    {% if practicearea.has_published_clients or request.preview_mode %}
        <h2>Clients</h2>
        <ul>
            {% for client in practicearea.client_set.all %}
                {% if client.status == 'published' or request.preview_mode %}
                    <li><a href="{{ client.get_absolute_url }}">{{ client.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}

{% block portlets %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Practices</h3>
    </div>
    <ul class="list-group">
      {% for p in practicearea_list %}
        <li class="list-group-item">
          {% if p == practicearea %}
            <b>{{ p }}</b>
          {% else %}
            <a href="{{ p.get_absolute_url }}">{{ p }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
  {{ block.super }}
{% endblock %}