{% extends 'base.html' %}


{% block breadcrumbs %}
  <li><a href="{% url 'practicearea.list' %}">Practice Areas</a></li>
  <li class="active">{{ practicearea.title }}</li>
{% endblock %}


{% block content %}

  <div class="page-header">
    <h1>{{ practicearea.title }}
      <i class="pull-right fa fa-{{ practicearea.icon_name }}"></i>
    </h1>

    <div class="lead">{{ practicearea.description | safe }}</div>
  </div>
  {{ practicearea.body|safe }}

  {% if practicearea.client_set.all %}
    <h2>Clients</h2>
    <ul>
      {% for client in practicearea.client_set.all %}
        <li><a href="{{ client.get_absolute_url }}">{{ client.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

{% endblock %}


{% block portlets %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Practices</h3>
    </div>
    <ul class="list-group">
      {% for p in practicearea_list %}
        <li class="list-group-item">
          {% if p == practicearea %}
            <b><i class="fa fa-{{ p.icon_name }}"></i> {{ p }}</b>
          {% else %}
            <a href="{{ p.get_absolute_url }}"> <i class="fa fa-{{ p.icon_name }}"></i> {{ p }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
  {{ block.super }}
{% endblock %}