{% extends 'base.html' %}


{% block page_title %}Questions{% endblock %}

{% block breadcrumbs %}
  <li class="active">Q&amp;A</li>
{% endblock %}


{% block content %}

  <div class="page-header">
    <h1>Nonprofit Questions &amp; Answers</h1>

    <p class="lead">
      These brief essays on a variety of topics relevant to nonprofit professionals appeared
      in Oliver's monthly column, <i>Game Plan</i>, in <i>Associations Now</i>, published
      by ASAE and the Center for Association Leadership.
    </p>
  </div>

  {% for question in qanda_list.all %}
    <h2><a href="{{ question.get_absolute_url }}">{{ question.title }}</a></h2>
    {{ question.description|safe }}
  {% endfor %}

{% endblock %}