{% extends 'base.html' %}


{% block breadcrumbs %}
  <li><a href="{% url 'qanda.list' %}">Questions</a></li>
  <li class="active">{{ qanda.title }}</li>
{% endblock %}


{% block content %}

  <div class="page-header">
    <h1>{{ qanda.title }}</h1>

    <div class="lead">{{ qanda.question|safe }}</div>
  </div>

  {{ qanda.answer|safe }}

  <p>
    <small>{{ qanda.credit }}</small>
  </p>

{% endblock %}


{% block portlets %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Nonprofit Q&amp;A</h3>
    </div>
    <ul class="list-group">
      {% for q in qanda_list.all %}
        <li class="list-group-item">
          {% if q == qanda %}
            <b>{{ q }}</b>
          {% else %}
            <a href="{{ q.get_absolute_url }}">{{ q }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}